<%% <%= singular_table_name %> = <%= class_name %>Presenter.new( @<%= singular_table_name %>, self ) %>
<div id="<%= singular_table_name %>">
<% editable_attributes.map.each do |a| -%>
  <div class="row">
    <%%= bs_col bs_field('<%= a.name.humanize %>', <%= singular_table_name %>.<%= a.name %>), class: 'col-sm-6' %>
  </div>
<% end -%>
</div>
