<%% <%= singular_table_name %> =  <%= class_name %>Presenter.new(@<%= singular_table_name %>, self ) %>
<%%= context_modal_header @<%= singular_table_name %> %>
<div class="modal-body">
  <%%= simple_form_for <%= singular_table_name %>, remote: true do |f| %>
    <%%= f.error_notification %>
    <%%= back_to_field %>
    <div class="has-error">
      <%%= f.error :base, error_method: :to_sentence %>
    </div>
    <div class="row">
      <%- editable_attributes.each do |a| -%>
        <%%= f.input :<%= a.name %>, wrapper_html: { class: 'col-sm-12' } %>
      <%- end -%>
    </div>
  <%% end %>
</div>

<div class="modal-footer">
  <%%= cancel_modal %>
  <%%= submit_button @<%= singular_table_name %>%>
</div>
