<%% <%= singular_table_name %> =  <%= class_name %>Presenter.new(@<%= singular_table_name %>, self ) %>
<%%= simple_form_for <%= singular_table_name %>, remote: true do |f| %>
  <%%= context_modal_header f, <%= class_name %>.model_name.human %>
  <div class="modal-body">
    <%%= f.error_notification %>
    <div class="has-error">
      <%%= f.error :base, error_method: :to_sentence %>
    </div>
    <%%= hidden_field_tag :back_to, @back_to %>
    <div class="row">
      <%- editable_attributes.each do |a| -%>
        <%%= f.input :<%= a.name %>, wrapper_html: { class: 'col-sm-12' } %>
      <%- end -%>
    </div>
  </div>

  <div class="modal-footer">
    <%%= cancel_modal %>
    <%%= f.submit class: 'btn btn-primary' %>
  </div>
<%% end %>
