<%%- content_for :page_header do %>
  <%%= page_header <%= class_name %>.model_name.human(count: 2) %>
<%% end %>
<div class="d-sm-flex">
  <div class="flex-sm-fill px-1 form-group">
    <label class="sr-only" for="search"><%%= t(:search) %></label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><%%= icon(:search) %></span>
      </div>
      <%%= text_field_tag :search, params[:search],
        class: 'form-control observed <%= plural_table_name %> persisted',
        placeholder: 'Enter search criteria',
        id: '<%= plural_table_name %>Search',
        data: { url: <%= index_helper %>_path, collect: '.<%= plural_table_name %>.persisted' },
        autocomplete: 'off' %>
      <div class="input-group-append">
        <button class="btn btn-secondary reset-input" data-target="#<%= plural_table_name %>Search"><%%= icon :cancel %></button>
      </div>
    </div>
  </div>

  <div class="ml-auto px-1 form-group">
    <%%= link_to icon(:plus, text: t( :new_record, model: <%= class_name %>.model_name.human)), <%= new_helper.gsub(/_url$/, "_path") %>,
      class: 'btn btn-xs-block btn-primary',
      data: { toggle: 'modal', target: '#Modal' } if policy(<%= class_name %>).create? %>
  </div>
</div>

<%%= render partial: 'table_container' %>
